:root {
    --hob-main-color:#2d18a0;
    --hob-dark-accent:#23137b;
    --hop-light-background: #f7f6fd;
    --hop-light-background-trans:  #f7f6fd70;
    --hop-shadow-color: #2d18a057;
}

.navbar {
    box-shadow: rgba(25, 25, 25, 0.1) 0px 0px 10px;
}

#header-container {
    margin-left: 0px;
}

.header-area .main-header {
    padding:  0px 40px;
}

.header-area {
    background-color: var(--hop-light-background);
}

.bg-light {
    background-color: var(--hop-light-background)!important;
}

@media only screen and (max-width: 991px)  {
    .header-area {
        box-shadow: rgba(25, 25, 25, 0.1) 0px 0px 0px;
    }
}

.section-padding40 {
    padding-bottom: 0px;
}

@media only screen and (max-width: 991px) {
    .section-padding40 {
        padding-top: 110px;
    }
}

.header-area a {
    color: rgba(0,0,0,.9);
    font-family: "Quicksand",sans-serif;
    padding-right: 15px;
}

.header-area a:hover, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--hob-main-color);
    font-weight: 550;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
}

.dropdown-item {
    color: black;
    font-size: 13px;
}

.dropdown-item:active {
    background-color: var(--hob-main-color);
}

.header-area img {
    padding-right: 10px;
}

.header-area .main-header .main-menu a:hover {
    color: var(--hob-main-color);
}

.header-area .main-header .main-menu a::after {
    background: var(--hob-main-color);
}

.header-area .main-header .main-menu .submenu {
    background: var(--hop-light-background);
    width: 200px;
}

.header-area .main-header .main-menu a {
    color: black;
}

.header-area .main-header .main-menu a:hover{
    color: var(--hob-main-color);
}

.header-btn {
    color: var(--hob-main-color);
}

.header-btn:hover {
    color: var(--hob-main-color);
}

.btn {
    background-image: linear-gradient(to left, var(--hob-main-color), var(--hob-dark-accent), var(--hob-main-color));
    box-shadow: none;
}

#scrollUp, #back-top {
    background: var(--hob-main-color);
}

.our-services {
    background: var(--hop-light-background);
}

.popular-items .single-items {
    background: var(--hop-light-background-trans);
}


.section-tittle span {
    color: var(--hob-main-color);
    margin-bottom: 5px;
}

.footer-social a {
    color: var(--hob-main-color);
    font-size: 35px;
}

.footer-social a:hover {
    color:  var(--hob-dark-accent);
}

.number a {
    color: var(--hob-main-color) !important;
}

.footer-area .footer-tittle ul li a:hover {
    color: var(--hob-main-color);
}

.our-services .single-services .services-cap h5 a:hover {
    color: var(--hob-main-color);
}

.client-say {
    background: var(--hop-light-background);
    padding-bottom: 0px;
}

.client-say .client-caption .founder-text span {
    color: var(--hob-main-color);
}

.client-say .client-caption:hover {
    box-shadow: 0px 20px 20px var(--hop-shadow-color);
}

.preloader .preloader-circle {
    border-top-color:  var(--hob-main-color);
}

.video-icon a.btn-icon::before {
    border: 1px solid var(--hob-main-color);
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img .insta {
    height: 260px;
}

.logo{
    height: 44px;
    width: 118px;
}

.items-top {
    height: 196px;
    width: 392px;
}

.founder-img {
    height: 54px;
    width:  54px;
}

.testi-pic {
    border-radius: 50%;
}

.items-top {
    width:  100%;
    height: 400px;
    display: flex;
    align-items: center;
}

#merch-area-wrapper {
    margin: 20px 20px;
}